button {
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 24;
  font-weight: 700;
  text-transform: uppercase;
  height: 50px;
}

.button-primary {
  background-color: #00303f;
}

.button-secondary {
  background-color: #59dbae;
}

.button-big {
  width: 31rem;
}

.button-small {
  width: 10rem;
}

@media only screen and (max-width: 600px) {
  .button-big {
    width: 75%;
  }
}
